/* .name{
  color:rgb(252, 249, 244)
}


h1{
  color:rgb(230, 230, 241);
  border :20px solid palevioletred;
  border-radius: 10px;
  padding:100px 20px 100px 25px;
  padding-left:50px;
  padding-bottom:100px;
  margin:50px;
  font-size:50px;
  font-weight:500;
  font-family:serif;
  color:rgb(118, 56, 25);
  text-align:center;
  letter-spacing:5px;
  line-height:70px;
  word-spacing:10px;
  background: url('./img.jpg');
  opacity:1;
}
.success{
  color:rgb(244, 239, 243)
}

.error{
  color:red
}
body{
  background-color:rgb(59, 40, 59);
  background: url("./uni.jpg");
}
#para{
  color:rgb(232, 226, 238);
  border:2px solid black;
  padding:40px;
  padding-left:50px;
  text-align:center;
  margin:40px;
  font-size:50px;
  font-weight:500;
  font-family:serif;
  letter-spacing:5px;
  line-height:70px;
  word-spacing:10px;
  background: url("./back.jpg");
  background-size:cover;
}
.App{
  display:grid;
grid-template-columns:1fr 1fr;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  border:9px solid greenyellow;
  gap:10px;
}
.divone{
  background-color:aqua;
}
.divtwo{
  background-color:antiquewhite;
}
.divthree{
  background-color:blueviolet;
  grid-column: span 2;
}
.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 180px;
  gap: 15px;
  background-color: #000;
  padding: 20px;
  font-family: sans-serif;
}

.card {
  background-color: #121212;
  border: 1px solid #222;
  border-radius: 16px;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.card:nth-child(1) {
  border-left: 4px solid #00ff9d;
}

.card:nth-child(4) {
  border-top: 4px solid #8a2be2;
} */