.btn-Counter{
    width:20%;
    height:5vh;
}
.counter{
    margin-left:30%;
    width:50%;
}
.box-dark{
    width:10%;
    height:5vh;
    background-color:blueviolet;
}
.box-white{
    width:10%;
    height:5vh;
    background-color:rgb(207, 106, 121);
}