 /*.forget{
    font-size: 12px;
    color:brown;
    text-decoration:none; /*to remove underline*/
/*}
.forget:hover{ /* when we touch the forget password it change the color*/
   /* color:#112A46;
    text-decoration: underline;
    cursor:all-scroll;
    font-size: 20px;
}
button:hover{
    color:rgb(193, 116, 23);
    color:antiquewhite;
     font-size: 20px;
    width:100px;
    border:none;
    border-radius: 5px;
    background-color: aqua;
}
.login-card{
    border:10px solid palevioletred;
    width:25%;
    height: 55vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    /*background:url('./mouni.jpg')*/
/*}
.form-control{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
input{
    height: 30px;
    width:300px;
    border-radius: 20px;
} 